:root {
    --font-color: #dbd9ff;
    --background-color: #1e2d69;
    --font: Raleway;

    --progress-bar-height: 22px;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    align-content: center;
    gap: 1rem;

    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 2rem;

    position: relative;

    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;

    color: var(--font-color);
    font-family: var(--font), sans-serif;
}

header {
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, auto);

    column-gap: 1rem;
    row-gap: 1.5rem;
    align-items: center;

    height: 100%;
    padding: 3rem 4rem 2rem 2rem;

    background-color: var(--background-color);
    border-radius: 10px 100px 10px 10px;
}

header img {
    grid-row: 1;
    grid-column: 1 / 4;
}

header button {
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3rem;

    background-color: black;
    border: none;
    border-radius: 7px;
}

main {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 2rem 2rem 2rem 2rem;

    background-color: var(--background-color);
    border-radius: 10px 10px 10px 10px;
}

.storage-summary {
    grid-row: 1;
    grid-column: 1/4;
}

main progress {
    grid-column: 1/4;
}

progress[value] {
    --_background-color: #0c122c;
    --_border-radius: 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    border: 3px solid black;
    width: 100%;
    height: var(--progress-bar-height);

    border-radius: var(--_border-radius);
}

progress[value]::-webkit-progress-bar {
    border-radius: var(--_border-radius);
    background: var(--_background-color);
}
progress[value]::-webkit-progress-value {
    border-radius: var(--_border-radius);
    background: linear-gradient(90deg, #ffa197, #ff4a95);
}
progress[value]::-moz-progress-bar {
    border-radius: var(--_border-radius);
    background: var(--_background-color);
}

progress[value]::after {
    --_circle-diameter: calc(var(--progress-bar-height) * 0.55);

    grid-row: 2;

    display: block;

    position: absolute;
    top: calc(50% - var(--_circle-diameter) / 2);
    left: calc(70% - var(--_circle-diameter) - 3px);

    width: var(--_circle-diameter);
    height: var(--_circle-diameter);

    content: "";
    background-color: white;
    border-radius: 100%;
}

.storage-lower-limit {
    grid-column: 1;
    grid-row: 3;
}

.storage-upper-limit {
    grid-column: 3;
    grid-row: 3;

    justify-self: end;
}

.storage-remaining {
    display: flex;
    align-items: center;
    column-gap: 10px;

    margin: 0;
    padding: 0.75rem 1.5rem;

    position: relative;
    bottom: -4rem;

    background: white;
    border-radius: 12px;
    color: #0c122c84;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.storage-remaining span {
    font-size: 40px;
    color: #0c122c;
}

footer {
    position: absolute;
    bottom: 1rem;

    width: 100%;
    height: 1rem;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
