:root {
    --font-colour: #dbd9ff;
    --font: Raleway;
}

body {
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;

    color: var(--font-colour);
    font-family: var(--font);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
